
{% extends "layout.html" %}

{% block title %}Joe Webb, PhD - About{% endblock %}

{% block content %}
<section>
    <!-- Page title -->
    <h1 class="h1 font-aspekta mb-5">Hi. I'm  
        <a target="_blank" href="https://www.linkedin.com/in/joe-webb/" class="inline-flex relative text-sky-500 before:absolute before:inset-0 
        before:bg-sky-200 dark:before:bg-sky-500 before:opacity-30 
        before:-z-10 before:-rotate-2 before:translate-y-1/4">
        Joe Webb, PhD</a> 🦾</h1>
        <img src="{{ url_for('static', filename='joe.png') }}" width="200" height="200" alt="Joe" 
        style="border-radius: 50%; width: 200px; 
        height: 200px; object-fit: 
        cover; object-position: top;" />
        <br>

    <!-- Page content -->
    <div class="text-slate-500 dark:text-slate-400 space-y-8">
        <div class="space-y-4">
            <h2 class="h3 font-aspekta text-slate-800 dark:text-slate-100">About Me</h2>
            <p>
                I'm a CEO & Scientist with 10 years of experience in machine learning & 8 years running preclinical trials. I am the Founder of 
                <a class="h6 font-aspekta text-slate-800 dark:text-slate-100" target="_blank" href="https://www.vitalityrobotics.com">Vitality Robotics</a> 
                where my team expedites biomedical breakthroughs using artificial intelligence and robotics.
            </p>
           
        </div>
        <div class="space-y-4">
            <h2 class="h3 font-aspekta text-slate-800 dark:text-slate-100">Vitality Robotics</h2>
            <p>
                At <a class="h6 font-aspekta text-slate-800 dark:text-slate-100" target="_blank" href="https://www.vitalityrobotics.com">Vitality</a>, 
                we partner with a variety of scientific companies automating their workflows using cloud-native technologies.
            </p>
            <p>
                Our work involves developing and testing new machine learning applications, optimizing performance and security, and ensuring scientists can 
                <a class="h6 font-aspekta text-slate-800 dark:text-slate-100" target="_blank" href="https://www.vitalityrobotics.com">Digitze their lab</a>, 
                
                or automate workflows from data analysis 
                <a class="h6 font-aspekta text-slate-800 dark:text-slate-100" target="_blank" href="https://aws.amazon.com/blogs/industries/highlights-from-the-aws-life-sciences-executive-symposium-2023-accelerating-pharma-drug-discovery-with-machine-learning/">to drug discovery on AWS.</a> 
                
            </p>
            <p>
                As CEO, our team has designed 16 different SaaS applications for international scientific companies. From
                <a class="h6 font-aspekta text-slate-800 dark:text-slate-100" target="_blank" href="https://d1.awsstatic.com/whitepapers/compliance/Using_AWS_in_GxP_Systems.pdf">designing GxP systems on AWS</a> 
                to 
                <a class="h6 font-aspekta text-slate-800 dark:text-slate-100" target="_blank" href="https://www.vitalityrobotics.com/s-projects-side-by-side">building the worlds first fully automated benchtop surgical devices for rodents</a>, 

                we staff B2B contracts with principal AI developers to automate your custom workflows.
            </p>
        </div>
        <div class="space-y-8">
            <h2 class="h3 font-aspekta text-slate-800 dark:text-slate-100">Vitality's Portfolio</h2>
            <ul class="space-y-8">
                <!-- Portfolio items here -->
            </ul>
        </div>
        <div class="space-y-4">
            <h2 class="h3 font-aspekta text-slate-800 dark:text-slate-100">Let's Connect</h2>
            <p>
                I'm excited to connect with others via <a class="font-medium text-sky-500 hover:underline" href="#0">email</a> and <a class="font-medium text-sky-500 hover:underline" href="#0">Twitter</a> to chat about projects and ideas. Currently, I'm not taking on freelance projects, but I am open to hearing about potential opportunities, discussing them with you and then potentially collaborating if it's a good fit.
            </p>
        </div>
    </div>
</section>
{% endblock %}
